[tool.pdm.dev-dependencies]
dev = [
    "pre-commit>=3.3.2",
    "crackerjack>=0.3.0",
]

[tool.ruff]
line-length = 88
target-version = "py311"
fix = true
show-fixes = true
show-source = true

[tool.ruff.isort]
force-single-line = true

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py311",
]

[tool.refurb]
enable_all = true

[tool.pyright]
include = [
    "starlette_async_jinja",
]
reportMissingImports = true
reportMissingTypeStubs = false
pythonVersion = "3.11"

[project]
name = "starlette-async-jinja"
version = "1.2.2"
description = ""
dependencies = [
    "starlette>=0.28.0",
    "jinja2>=3.1.2",
    "jinja2-async-environment>=0.1.7",
]
requires-python = ">=3.11"
readme = "README.md"
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]

[project.license]
text = "BSD-3-Clause"

[project.urls]
Homepage = "https://github.com/lesleslie/starlette-async-jinja"
Documentation = "https://github.com/lesleslie/starlette-async-jinja"
Repository = "https://github.com/lesleslie/starlette-async-jinja"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
