[tool.pdm.dev-dependencies]
dev = [
    "crackerjack>=0.8.16",
]

[tool.ruff]
line-length = 88
target-version = "py312"
fix = true
show-fixes = true
output-format = "full"

[tool.ruff.format]
docstring-code-format = true

[tool.ruff.lint]
ignore = [
    "F821",
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D106",
    "D107",
]
extend-select = [
    "I",
    "C901",
    "D",
]

[tool.ruff.lint.isort]
no-lines-before = [
    "first-party",
    "local-folder",
]

[tool.ruff.lint.mccabe]
max-complexity = 12

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py312",
]

[tool.creosote]
paths = [
    "starlette_async_jinja",
]
deps-file = "pyproject.toml"
exclude-deps = [
    "pdm-bump",
    "pyyaml",
    "pytest",
    "pdm",
    "autotyping",
    "pyfiglet",
    "pre-commit",
]

[tool.refurb]
enable_all = true

[tool.bandit]
target = [
    "starlette_async_jinja",
]
skips = [
    "B602",
    "B403",
    "B404",
    "B603",
    "B607",
    "B301",
    "B311",
]

[tool.pyright]
verboseOutput = true
include = [
    "starlette_async_jinja",
]
exclude = [
    "scratch",
]
extraPaths = [
    "__pypackages__/3.12/lib/",
]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
reportOptionalMemberAccess = false
reportOptionalCall = false
reportUnknownMemberType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportPrivateUsage = "warning"
pythonVersion = "3.12"
pythonPlatform = "Darwin"

[tool.codespell]
skip = "*/data/*"
quiet-level = 3
ignore-words-list = "crate,uptodate"

[project]
name = "starlette-async-jinja"
version = "1.7.10"
description = ""
dependencies = [
    "starlette>=0.38.2",
    "jinja2>=3.1.4",
    "jinja2-async-environment>=0.8.0",
]
requires-python = ">=3.12"
readme = "README.md"
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.12",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Operating System :: OS Independent",
    "Framework :: FastAPI",
    "Framework :: AsyncIO",
    "Typing :: Typed",
    "License :: OSI Approved :: BSD License",
    "Development Status :: 4 - Beta",
]

[project.license]
text = "BSD-3-Clause"

[project.urls]
Homepage = "https://github.com/lesleslie/starlette-async-jinja"
Documentation = "https://github.com/lesleslie/starlette-async-jinja"
Repository = "https://github.com/lesleslie/starlette-async-jinja"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
